
header{ 
    padding: 6px;
    margin: 0% ;
    background-color: black;
    color:gold

}
.tittle {
    text-align: center;
    
}

nav {
    background-color: rgb(244, 233, 233);
    
    
}
   


      


    


  