
header{ 
    padding: 6px;
    margin: 0% ;
    background-color: black;
    color: rgb(232, 155, 39);

}
.tittle {
    text-align: center;
    
}

nav {
    background-color: rgb(232, 155, 39);
     ;
    
    
}
.texto {
    background-color: black;
    color: rgb(232, 155, 39) ;
    padding: 10px;
    
    
}
.servicios {
    text-align: center;
    padding:30px

    
}
   


      


    


  